<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Users - iShop Admin','none')"></head>

<body>
	<div th:replace="nabigationFragments :: menu"></div>
	<div class="col-sm-12">
		<h1>Manage Category</h1>
		<a th:href="@{/categories/new}"
			class="fas fa-folder-plus fa-2x icon-dark mr-2"></a> &nbsp;&nbsp; <a
			th:href="@{/categories/export/csv}"
			class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
	</div>
	
	<div th:replace="fragments :: search_form_and_message('/categories/page/1')"></div>
	<div class="full-details">
		<table
			class="table table-bordered table-striped 	table-hover table-responsive-xl">

			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Category Image</th>
					<!-- <th><a class="text-white"
						th:href="@{'/categories/page/'+${currentPage} + '?sortDir=' + ${reverseSortDir}+${keyword != null ? '&keyword=' + keyword : ''}}">Category
							Name </a> <span
						th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th> -->
					<th th:replace="fragments:: column_link('/categories','name', 'Category Name', 'none')" />
					
					<th class="hideable-column">Alias</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="category : ${listCategories}">

					<td>[[${category.id}]]</td>
					<td><img th:src="@{${category.imagePath}}"
						style="width: 100px" class="img-fluid" /></td>
					<td>[[${category.name}]]</td>
					<td class="hideable-column">[[${category.alias}]]</td>

					<td>
						 <div th:replace="fragments :: status(${category.enabled}, 'category','/categories/' +${category.id})"> </div>
					</td>
					<td>
						<div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"> </div>
					 	&nbsp;
					   <div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id},${!category.hasChildren})"></div> 
					</td> 
				</tr>
			</tbody>
		</table>
	</div>

	<div class="less-details">
		<div th:each="category:${listCategories}" class="row m-1">
			<div class="col-4">
				<img th:src="@{${category.imagePath}}" style="width: 100px"
					class="img-fluid" />
			</div>


			<div class="col-8">
				<div>[[${category.name}]]</div>
				<div class="mt-4">
					<div th:replace="fragments :: status(${category.enabled}, 'category','/categories/' +${category.id})"/> 
					&nbsp;
					 <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"/> 
			 		&nbsp;
			 		 <div th:replace="fragments :: delete('category',${category.id}, '/categories/delete/' + ${category.id},${!category.hasChildren})"/> 
				</div>

			</div>
			<div>&nbsp;</div>
		</div>
	</div>




	<!-- 	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>

				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div> -->
	<div th:if="${keyword!=null}" class="text-center">
		<span>Search result dose not show categories in hierarchical
			form</span>
		<div th:replace="fragments :: pagination('/categories', 'categories')"></div>
	</div>
	<th:block th:unless="${keyword!=null}" class="text-center">
		<div
			th:replace="fragments :: pagination('/categories', 'top-lavel categories')"></div>
	</th:block>

	<div th:replace="modal_fragments :: confirm_modal"></div>
	<div th:replace="fragments :: footer"></div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
	
		moduleURL = "[[@{/categories}]]";
		
		$(document).ready(function(){
			$(".link-delete").on("click", function(e){
				e.preventDefault();
				showDeleteConfirmModal($(this), 'category');
		});
	});
		
	</script>
</body>

</html>